<div id="reportrange" class="pull-left btn btn-primary" 
style="cursor:pointer; padding:6px; border: 1px solid #f5f5f5;width: 260px;color:#fff; background-color: #348fe2;"
  daterangepicker (selected)="selectedDate($event, mainInput)" (cancelDaterangepicker)="calendarEventsHandler($event)" (applyDaterangepicker)="calendarEventsHandler($event)"
  (hideDaterangepicker)="calendarEventsHandler($event)" (showDaterangepicker)="calendarEventsHandler($event)">

  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
  <span>{{ mainInput.start | date:'MMM dd, yyyy' }} - {{ mainInput.end| date:'MMM dd, yyyy' }}</span> 
</div>

<!-- 
  <form>
      <div class="form-group">
        
                    <div class="input-group" daterangepicker (selected)="selectedDate($event, mainInput)"
                    (cancelDaterangepicker)="calendarEventsHandler($event)"
                    (applyDaterangepicker)="calendarEventsHandler($event)"
                    (hideDaterangepicker)="calendarEventsHandler($event)"
                    (showDaterangepicker)="calendarEventsHandler($event)"
                    >
                        <span class="form-control uneditable-input"  name="daterange" >
                            {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}
                        </span>
                        <span class="input-group-btn">
                            <a type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></a>
                        </span>
                    </div>
                </div> 
    </form> -->