   <!-- Sidebar Column -->
   <div class="col-lg-3">
    <div class="left_link">
        <div class="box">
            <h4>Quick Links
                <span class="pull-right">...</span>
            </h4>
            <ul>
                <li>
                    <img class="img-circle" src="assets/images/vb.jpg" alt="Vishal Barapatre In2IT CTO">
                    <a href="https://www.itweb.co.za/office/in2ittech/content/wbrpO7gP1dzMDLZn" target="_blank">
                        Make sure you have a business case before you jump on the IOT bandwagon</a>
                </li>
                <li>
                    <img class="img-circle" src="assets/images/sk.jpg" alt="Saurabh Kumar In2IT CEO">
                    <a href="https://www.consultancy.co.za/news/1009/tech-solutions-executives-on-sa-business-growing-digital-profile" target="_blank">
                        Tech solutions executives on SA business' growing digital profile</a>
                </li>
                <li>
                    <img class="img-circle" src="assets/images/vb.jpg" alt="Vishal Barapatre In2IT CTO">
                    <a href="https://it-online.co.za/2019/02/12/the-link-between-compliance-and-cybersecurity/" target="_blank"> The link between compliance and cybersecurity</a>
                </li>
                <li>
                    <img class="img-circle" src="assets/images/Harkrishan-Singh.jpg" alt="Harkrishan-Singh Director – Global RPA, Blockchain Practice at In2IT">
                    <a href="https://www.itnewsafrica.com/2018/11/devops-needs-the-right-ingredients-for-success/" target="_blank"> DevOps needs the right ingredients for success</a>
                </li>
                <li>
                    <img class="img-circle" src="assets/images/vb.jpg" alt="Vishal Barapatre In2IT CTO">
                    <a href="https://www.itweb.co.za/office/in2ittech/content/wbrpO7gP1dzMDLZn" target="_blank">In2IT Technologies: Empowering Banks with an Innovative Edge</a>
                </li>
                <li>
                    <img class="img-circle" src="assets/images/Sumit-Kumar-Sharma.jpg" alt="Sumit-Kumar-Sharma Architect, In2IT Technologies.">
                    <a href="https://www.itnewsafrica.com/2018/12/could-blockchain-be-the-next-big-thing-in-gaming/" target="_blank"> Could blockchain be the next big thing in gaming?</a>
                </li>
            </ul>
            <div class="link text-right">
                <a class="" href="#">See more</a>
            </div>

        </div>
        <div class="box">
            <h4>To-Dos
                <span class="pull-right">...</span>
            </h4>
            <ul>
                <li>
                    <img class="img-fluid" src="assets/images/icon-b.png" alt="">
                    <a href="#"> You have a meeting on 04:00 pm on 25 Mar' 17</a>
                </li>
                <li>
                    <img src="assets/images/icon-b.png" alt="">
                    <a href="#"> You have a meeting on 04:00 pm on 25 Mar' 17</a>
                </li>
                <li>
                    <img src="assets/images/icon-b.png" alt="">
                    <a href="#"> You have a meeting on 04:00 pm on 25 Mar' 17</a>
                </li>
                <li>
                    <img src="assets/images/icon-b.png" alt="">
                    <a href="#"> You have a meeting on 04:00 pm on 25 Mar' 17</a>
                </li>
            </ul>
            <div class="link text-right">
                <a class="" href="#">See more</a>
            </div>

        </div>

        <div class="box">
            <h4>Activity Panel
                <span class="pull-right">...</span>
            </h4>
            <ul>
                <li>
                    <img src="assets/images/icon-b.png" alt="">
                    <a href="#"> Manoj Gaur liked Daljeet's Phooto. </a>
                </li>
                <li>
                    <img src="assets/images/icon-b.png" alt="">
                    <a href="#"> Sudhir has shared Chandan's Status.</a>
                </li>
                <li>
                    <img src="assets/images/icon-b.png" alt="">
                    <a href="#"> Manoj Gaur liked Daljeet's Phooto. </a>
                </li>
                <li>
                    <img src="assets/images/icon-b.png" alt="">
                    <a href="#"> Sudhir has shared Chandan's Status.</a>
                </li>
            </ul>
            <div class="link text-right">
                <a class="" href="#">See more</a>
            </div>

        </div>

        <div class="box">
            <h4>What's New
                <span class="pull-right">...</span>
            </h4>
            <ul>
                <li>
                    <img src="assets/images/icon-b.png" alt="">
                    <a href="#"> Leave &amp; Attendence</a>
                </li>
                <li>
                    <img src="assets/images/icon-b.png" alt="">
                    <a href="#"> Shushant</a>
                </li>
            </ul>
            <div class="link text-right">
                <a class="" href="#">See more</a>
            </div>
        </div>

        <div class="box">
            <h4>Trending
                <span class="pull-right">...</span>
            </h4>
            <ul>
                <li>
                    <img src="assets/images/icon-b.png" alt="">
                    <a href="#"> Leave &amp; Attendence</a>
                </li>
                <li>
                    <img src="assets/images/icon-b.png" alt="">
                    <a href="#"> IJP</a>
                </li>
                <li>
                    <img src="assets/images/icon-b.png" alt="">
                    <a href="#"> Leave &amp; Attendence</a>
                </li>
            </ul>
            <div class="link text-right">
                <a class="" href="#">See more</a>
            </div>
        </div>

    </div>
</div>