<ng-template #footerTemplate>
  <hr class="my-0">
  <button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; d.close()">Today</button>
  <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Close</button>
</ng-template>

<!-- <div id="In2CB_chaticon" style=" background-color: #ffffff">
  <div class="convbot-button">
    <a href="javascript:void(0);" id="addClass">
      <img (click)="toggleCh();" class="convbot convbot-open" src="assets/img/chatboat.png" style="display: inline; height:100%;width:100%; padding:1px; "> </a>
  </div>
</div> -->

<div id="In2CB_chatdiv" class="close">
  <!-- begin panel -->
  <div id="In2CB_chatContainer" class="panel panel-inverse In2CB_container">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span style="margin-right: -31px;">GCSC Bot</span>

        <a href="javascript:void(0)" (click)="toggleCh();"><img src="assets/images/close.png" class="closeicon"></a>
        <a href="javascript:void(0)" class="speaker">
          <!-- <button  (click)="toggleVoiceMute()" class="btn btn-primary btn-sm" type="button"> <img src="assets/img/unmute1.png" id="speekr" alt="" style="margin-top:-5px;width:20px; height:20px;" />
          </button> -->
          <img (click)="toggleVoiceMute()"  src="assets/images/unmute1.png"  id="speekr"  class="sperkr">
        </a>
      </h4>
    </div>
    <div id="In2CB_chatBoxMainContainer" style="overflow-x: hidden;" class="style-3">
      <div data-role="page" data-url="/conv/S1kkYp/" tabindex="0" class="ui-page ui-page-theme-a ui-page-active"
        style="outline: none;" id="qnimate">
        <ul class="pages" style="margin-top: 0px;">
          <li class="chat page">
            <div class="chatArea" style="padding-bottom: 264px;">
              <ul class="messages">

                <li class="animated fadeInUp">
                  <div class="row">
                    <img src="assets/images/robot.png" alt="Robot" class="robot">
                    <div class="" style="margin-bottom: 6px!important;border-top-left-radius:  0;" [ngClass]="'left'">
                      <span class="text-span">Welcome to GCSC.</span>
                    </div>
                  </div>
                </li>

                <li [ngSwitch]="cm_.type" *ngFor="let cm_ of modMess_.content; let i=index"
                  [ngClass]="(cm_.src === 'mcn')?'message pull-left  ':'message pull-right '"
                  style="display: list-item; clear: both; list-style: none;margin: 0px 20px;">

                  <!-- <div class="panel-body bg-silver messages">
                    <div class="chats" data-scrollbar="true" data-height="225px">
                      <div class="left">
                        <span class="date-time">yesterday 11:23pm</span>
                        <a href="javascript:;" class="name">Sowse Bawdy</a>
                        <a href="javascript:;" class="image"><img alt="" src="assets/images/bot.png" /></a>
                        <div class="message">
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit volutpat. Praesent mattis interdum
                          arcu eu feugiat.
                        </div>
                      </div>
                      <div class="right">
                        <span class="date-time">08:12am</span>
                        <a href="javascript:;" class="name"><span class="label label-primary">ADMIN</span> Me</a>
                        <a href="javascript:;" class="image"><img alt="" src="assets/img/user/user-13.jpg" /></a>
                        <div class="message">
                          Nullam posuere, nisl a varius rhoncus, risus tellus hendrerit neque.
                        </div>
                      </div>
                      <div class="left">
                        <span class="date-time">09:20am</span>
                        <a href="javascript:;" class="name">Neck Jolly</a>
                        <a href="javascript:;" class="image"><img alt="" src="assets/img/user/user-10.jpg" /></a>
                        <div class="message">
                          Euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </div>
                      </div>
                      <div class="left">
                        <span class="date-time">11:15am</span>
                        <a href="javascript:;" class="name">Shag Strap</a>
                        <a href="javascript:;" class="image"><img alt="" src="assets/img/user/user-14.jpg" /></a>
                        <div class="message">
                          Nullam iaculis pharetra pharetra. Proin sodales tristique sapien mattis placerat.
                        </div>
                      </div>
                    </div>
                  </div> -->

                  <ng-template [ngSwitchCase]="'accountStatement'">
                    <table class="table">
                      <tr>
                        <th>Account Number</th>
                        <th>Date</th>
                        <th>Amount</th>
                      </tr>
                      <tr>
                        <td>1110011111</td>
                        <td>11/02/2019</td>
                        <td>20,222K</td>
                      </tr>
                      <tr>
                        <td>2210011111</td>
                        <td>11/02/2019</td>
                        <td>4,222K</td>
                      </tr>

                    </table>

                  </ng-template>

                  <!-- For form data -->
                  <ng-template [ngSwitchCase]="'form'">
                    <div class="{{cm_.formCss}}">
                      <form name="{{cm_.name}}" #f="ngForm" novalidate class="form-horizontal" role="form">
                        <div *ngFor="let flds_ of cm_.fields; let j=index;" class="{{flds_.outercss}}"
                          data-tip="This is the text of the tooltip2">
                          <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'input:text'">
                            <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                              <input type="text" placeholder="{{flds_.placeholder}}" style="width: 285px;
                                  margin-bottom: 10px;" [(ngModel)]="flds_.model" name="uname_{{i}}{{j}}"
                                [required]="flds_.required" [readonly]="!flds_.editable" class="form-control">
                            </div>
                          </div>
                          <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'input:number'">
                            <div class="col-md-12">
                              <input [(ngModel)]="flds_.model" style="width: 100%;
                                  margin-bottom: 10px;" type="number" placeholder="{{flds_.placeholder}}"
                                name="uname_{{i}}{{j}}" [required]="flds_.required" [readonly]="!flds_.editable"
                                class="form-control">
                            </div>
                          </div>
                          <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'input:email'">
                            <div class="col-xl-12">
                              <input [(ngModel)]="flds_.model" style="width: 100%;
                                  margin-bottom: 10px;" type="email" placeholder="{{flds_.placeholder}}"
                                name="uname_{{i}}{{j}}" [required]="flds_.required" [readonly]="!flds_.editable"
                                class="form-control">
                            </div>
                          </div>
                          <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'select'">
                            <select style="width: 285px;margin-bottom: 10px;word-wrap: break-word;
                              text-overflow: inherit;
                              white-space: normal;"
                              (change)="onDynamicDDChange($event.target.value ,cm_.fields,flds_ ,flds_.onchange )"
                              class="form-control" id="select" name="networkvpc" [(ngModel)]="flds_.model">
                              <option *ngFor="let n of flds_.options; let ddNdx=index;" value="{{n.value}}">{{n.key}}
                              </option>
                            </select>
                          </div>
                          <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'link:a'">

                            <button type="button" class="btn btn-sm btn-primary col-sm-12"
                              style="padding: 0px;height: 30px;font-size: 14px;">
                              <a href="{{flds_.value}}" target="{{flds_.target}}">
                                <span style="color: #ffffff;">{{flds_.labelName}}</span>
                              </a>
                            </button>
                          </div>
                          <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'link:download'">
                            <button type="button" class="btn btn-sm btn-primary col-sm-12 In2-width-100per"
                              style="padding: 0px;height: 32px;font-size: 14px;margin-left: 1em;"
                              (click)="downloadFile(flds_.value)">

                              {{flds_.labelName}}
                            </button>
                          </div>
                          <div class="{{flds_.cssclass}} table-responsive" *ngIf="flds_.type == 'dynamic:table'"
                            id="style-4" style="margin-bottom:1em;">
                            <table class="table table-bordered table-hover" cellspacing="0">
                              <thead>
                                <tr>
                                  <th *ngFor="let h of flds_.headers;">{{h}}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let tData of flds_.options; let i=index">
                                  <td align="center" *ngFor="let h of flds_.headers;">
                                    <span *ngIf="h !='Action'">{{tData[h]}}</span>
                                    <span *ngIf="h =='Action'"><button class="btn btn-primary option_apply"
                                        (click)="optionVal(cm_,null,tData[h])"
                                        style="color: white;">Apply</button></span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>

                          <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'key:value'">
                            <table class="table-responsive">
                              <tr *ngFor="let kv of flds_.options; let op=index;">
                                <td style="width:57%;word-wrap: break-;padding-bottom: 10px;" align="left">{{kv.key}}
                                </td>
                                <td style="width:3%;word-wrap: break-word;padding-bottom: 10px;" align="left">:</td>
                                <td style="width:40%;word-wrap: break-word;padding-bottom: 10px;" align="left">
                                  {{kv.value}}</td>
                              </tr>
                            </table>
                          </div>


                          <div class="{{flds_.cssclass}} form-group col-sm-12 In2-date-100per"
                            *ngIf="flds_.type == 'date:startdate'">
                            <div class="">
                              <label class="form-label col-md-12">Start Date</label>
                              <div class="col-sm-4">

                                <select class="form-control" name="syear" [(ngModel)]="date.start.y"
                                  style="width:95px;">
                                  <option value="2019">2019</option>
                                </select>
                              </div>

                              <div class="col-sm-4">
                                <select class="form-control" name="smonth" [(ngModel)]="date.start.m"
                                  style="width:95px;">
                                  <option value="" selected="selected">Month</option>
                                  <option Value="1">January</option>
                                  <option Value="2">Febraury</option>
                                  <option Value="3">March</option>
                                  <option Value="4">April</option>
                                  <option Value="5">May</option>
                                  <option Value="6">June</option>
                                  <option Value="7">July</option>
                                  <option Value="8">August</option>
                                  <option Value="9">September</option>
                                  <option Value="10">October</option>
                                  <option Value="11">November</option>
                                  <option Value="12">December</option>
                                </select>
                              </div>
                              <div class="col-sm-4">
                                <select class="form-control" name="sdate" [(ngModel)]="date.start.d"
                                  style="width:95px;">
                                  <option value="">Date</option>
                                  <option Value="01">1</option>
                                  <option Value="02">2</option>
                                  <option Value="03">3</option>
                                  <option Value="04">4</option>
                                  <option Value="05">5</option>
                                  <option Value="06">6</option>
                                  <option Value="07">7</option>
                                  <option Value="08">8</option>
                                  <option Value="09">9</option>
                                  <option Value="10">10</option>
                                  <option Value="11">11</option>
                                  <option Value="12">12</option>
                                  <option Value="13">13</option>
                                  <option Value="14">14</option>
                                  <option Value="15">15</option>
                                  <option Value="16">16</option>
                                  <option Value="17">17</option>
                                  <option Value="18">18</option>
                                  <option Value="19">19</option>
                                  <option Value="20">20</option>
                                  <option Value="21">21</option>
                                  <option Value="22">22</option>
                                  <option Value="23">23</option>
                                  <option Value="24">24</option>
                                  <option Value="25">25</option>
                                  <option Value="26">26</option>
                                  <option Value="27">27</option>
                                  <option Value="28">28</option>
                                  <option Value="29">29</option>
                                  <option Value="30">30</option>
                                  <option Value="31">31</option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="{{flds_.cssclass}} form-group col-sm-12 In2-date-100per"
                            *ngIf="flds_.type == 'date:enddate'">
                            <div class="">
                              <label class="form-label col-md-12">End Date</label>
                              <div class="col-sm-4">
                                <select class="form-control" name="syear" [(ngModel)]="date.end.y" style="width:95px;">
                                  <option value="2019">2019</option>
                                </select>
                              </div>
                              <div class="col-sm-4">
                                <select class="form-control" name="smonth" [(ngModel)]="date.end.m" style="width:95px;">
                                  <option value="">Month</option>
                                  <option Value="1">January</option>
                                  <option Value="2">Febraury</option>
                                  <option Value="3">March</option>
                                  <option Value="4">April</option>
                                  <option Value="5">May</option>
                                  <option Value="6">June</option>
                                  <option Value="7">July</option>
                                  <option Value="8">August</option>
                                  <option Value="9">September</option>
                                  <option Value="10">October</option>
                                  <option Value="11">November</option>
                                  <option Value="12">December</option>
                                </select>
                              </div>
                              <div class="col-sm-4">
                                <select class="form-control" name="sdate" [(ngModel)]="date.end.d" style="width:95px;">
                                  <option value="">Date</option>
                                  <option Value="01">1</option>
                                  <option Value="02">2</option>
                                  <option Value="03">3</option>
                                  <option Value="04">4</option>
                                  <option Value="05">5</option>
                                  <option Value="06">6</option>
                                  <option Value="07">7</option>
                                  <option Value="08">8</option>
                                  <option Value="09">9</option>
                                  <option Value="10">10</option>
                                  <option Value="11">11</option>
                                  <option Value="12">12</option>
                                  <option Value="13">13</option>
                                  <option Value="14">14</option>
                                  <option Value="15">15</option>
                                  <option Value="16">16</option>
                                  <option Value="17">17</option>
                                  <option Value="18">18</option>
                                  <option Value="19">19</option>
                                  <option Value="20">20</option>
                                  <option Value="21">21</option>
                                  <option Value="22">22</option>
                                  <option Value="23">23</option>
                                  <option Value="24">24</option>
                                  <option Value="25">25</option>
                                  <option Value="26">26</option>
                                  <option Value="27">27</option>
                                  <option Value="28">28</option>
                                  <option Value="29">29</option>
                                  <option Value="30">30</option>
                                  <option Value="31">31</option>
                                </select>
                              </div>
                            </div>
                          </div>


                          <div class="col-md-6 ctmbtn">
                            <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'button:submit'">
                              <button type="submit" [disabled]="f.form.valid && !flds_.editable"
                                (click)="f.form.valid && formSubmission(cm_,j,flds_.action, flds_.data);"
                                class="{{flds_.elemCss}}"> {{flds_.labelName}}</button>
                            </div>
                          </div>


                        </div>
                      </form>
                    </div>
                  </ng-template>

                  <ng-template [ngSwitchCase]="'textmessage'">
                    <div class="row animated slideInRight" *ngIf="cm_.src === 'usr'" style="float:right;">
                      <div *ngIf="cm_.src === 'usr' && cm_.type == 'textmessage'"
                        [ngClass]="(cm_.src === 'mcn')?'left':'right '" style="border-top-right-radius: 0;">
                        <span class="">
                          <span class="text-span">{{cm_.value}}</span>
                        </span>
                      </div>
                      <div *ngIf="cm_.src === 'usr' && cm_.type == 'textmessage'">
                        <span class="pull-right" style="margin-right:2.3em;">
                          <img src="assets/images/userpro.png" alt="Avatar" class="avatar">
                        </span>
                      </div>
                    </div>
                    <div class="row animated fadeInUp" *ngIf="cm_.src === 'mcn'">
                      <img src="assets/images/robot.png" alt="Robot" class="robot">

                      <div class="" style="margin-bottom: 6px!important;border-top-left-radius:  0;"
                        [ngClass]="(cm_.src === 'mcn')?'left':'right'">
                        <span class="text-span">{{cm_.value}}</span>
                      </div>
                    </div>

                  </ng-template>

                  <!-- List type message (24-july-2019) -->
                  <ng-template [ngSwitchCase]="'textmessage:list'">
                    <div class="row"  *ngIf="cm_.src === 'mcn'">
                      <img src="assets/images/robot.png" alt="Robot"  class="robot">
                      <div class=""  style="margin-bottom: 6px!important;"
                         [ngClass]="(cm_.src === 'mcn')?'left':'right'">
                        <!-- <span class="text-span">{{cm_.value}}</span> -->
                        <ol>
                          <li *ngFor="let list of cm_.value; let i=index" style="width:250px;"> {{list | uppercase}}
                          </li>
                        </ol>
                      </div>
                    </div>
                  </ng-template>

                  <ng-template [ngSwitchCase]="'link'">
                    <div class="row" *ngIf="cm_.src === 'mcn'">
                      <img src="assets/images/robot.png" alt="Robot"  class="robot">
                      <div class=""  style="margin-bottom: 6px!important;"
                         [ngClass]="(cm_.src === 'mcn')?'left':'right'">
                        <a target="_blank" [href]="cm_.value" style="color: black;">{{cm_.value}}</a>

                        <!-- <span class="text-span">{{cm_.value}}</span> -->
                        <!-- <ol>
                          <li *ngFor="let list of cm_.value; let i=index" style="width:250px;"> {{list | uppercase}}
                          </li>
                        </ol> -->
                      </div>
                    </div>
                  </ng-template>

                  <ng-template ngSwitchDefault></ng-template>
                </li>

                <!-- <li id="indicator" *ngIf="isloading" class="message col-xs-9 pull-left open">
        <div class="row">
          <div class="col-md-2">
            <span class="pull-left">
              <img src="assets/images/robot.png" alt="Robot" class="image">
            </span>
          </div>

          <div class="col-md-3" style="text-align: left;margin-left:-5%;">
            <span class="">
              <div class="typing-indicator">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </span>
          </div>
        </div>


      </li> -->

                <!-- <li *ngIf="modMess_.showCarts && modMess_.custCards.length>0" class="message col-xs-12 open" style="display: list-item;background-color: rgba(255, 255, 255, 0.15) !important;width:100%;">
        <div class="messageBody ui-chatbox-msg alert chat-bubble user-chat-bubble padding-no-margin pull-left text-bubble">
          <div iui="buttons_vertical" style="    background-color: rgba(255, 255, 255, 0.15);">
            <ul class="list-group selectOptions snackbar-options">
              <li *ngFor="let crd_ of modMess_.custCards; let cNdx=index;" (click)="boatCardClk(crd_);" style="width:100%;" class="media list-group-item choose send-now">
                <div class="media-body va_basline">
                  <h4 class="media-heading snackBar_button large">{{crd_.label}}</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li> -->

                <li *ngIf="modMess_.showCarts && modMess_.custCards.length>0" class="message col-xs-12 open"
                  style="display: list-item;background-color: rgba(255, 255, 255, 0.15) !important;width:100%;">
                  <div
                    class="messageBody ui-chatbox-msg alert chat-bubble user-chat-bubble padding-no-margin pull-left text-bubble">
                    <div iui="buttons_vertical" style="    background-color: rgba(255, 255, 255, 0.15);">
                      <button *ngFor="let crd_ of modMess_.custCards; let cNdx=index;" (click)="boatCardClk(crd_);"
                        class="btn btn-info  btn-rounded btn-sm m-1 animated fadeInUp"
                        style="border-radius:10px; color:#fff">
                        {{crd_.label}}
                      </button>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="panel-footer">
    <form name="send_message_form" data-id="message-form">
      <div class="input-group">
        <input type="text" class="form-control" id="myMessage" #item autocapitalize="off" autocomplete="off"
          (ngModelChange)="onChange(item.value)" (keyup.enter)="sendMessage()" name="message"
          placeholder="{{chttxt_plcholder}}"
          style="font-size: 12px;
          font-weight: 300;padding: 0px 10px 0px 10px;background: transparent;width: calc(100% - 90px);border: 0;float: left;border: 1px solid #ccc;">
        <span class="input-group-append">

          <button class="btn btn-primary btn-sm" type="button" style="margin-right: -3px;" (click)="sendMessage()">
            <img src="assets/images/sent.png" alt="" style="margin-top:-5px;" />
          </button>
          <!-- <button  (mousedown)="mouseDown($event)" class="btn btn-primary btn-sm" type="button"> <img id="enableMicro" src="assets/img/microphone.png" style="margin-top:-5px;width:20px; height:20px;"></button> -->

        </span>
      </div>
    </form>
  </div>
</div>